/* columnas responsivas

For mobile phones:
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
 For tablets: 
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
 For desktop: 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
*/


/*<---Inicio CSS para sucursales--->*/
.sucursales {
    background-color: black;
    padding: 2%;
    color: white;
}

.titulo-sucursales {
    background-color: #f8c303;
    text-align: center;
    margin: 2px !important;
    color: black;
}
#titulo-sucursales {
    background-color: #F8C303;
    text-align: center;
    margin-left: 2px !important;
    margin-right: 2px !important;
    color: black;
}
.sucursales p {
    background-color: #F8C303 ;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    width: 100%;
}

.map-container {
    flex: auto;
    background: #F8C303; /*opacity: 0.3;*/
    position: relative;
    padding-bottom: 27%;

    height: 0;
    overflow:hidden;
}

.ubicacion {
    
    justify-content: center;
    width: 100%;
}

.map iframe {
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    height: 80%;
    width: 100%;
    position: absolute;
    border-radius: 10%;
}
/*<---Fin CSS para sucursales--->*/

/*<---Inicio CSS para el Footer--->*/
.whats-app { text-align: right;
}
.footer-container {
    font-weight: bold;
}
.footer-container a{
    padding-left: 1% ;
}
.footer-container p {
    display:block ;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
.redes p{
    font-size: 60%;
}
.desarrollo p{
    font-size: 60%;
}
.creacion p{    
    font-size: 40%;
}

/*<---Fin CSS para el Footer--->*/

p{
    color: white;
    font-size: 25px;
}
h1{
    color:white;
    font-size: 35px;

}
#inicio{
    /*aca va el color del div dentro del header*/
    padding: left 100px; ;
    display: flex;
    justify-content: center;
    
}
#footer{
    /*aca va el color del div dentro del header*/
    padding: left 100px; ;
    display: flex;
    justify-content: center;
    background-color: #F8C303;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pruebanav{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    list-style:none

}
@media screen and (max-width: 800px) {
    #pruebanav{
      
      width: 100%; 
      display: inline-block;
    background-color: black;
     
    }
  }
@media screen and (min-width: 800px) {
    #pruebanav{
      
      width: 100%; 
      display: inline-flex;
    background-color: black;
     
    }
   
    
  }
  @media screen and (min-width: 1200px) {
  
    #pruebanav{
      
      width: 100%; 
      display: inline-flex;
    background-color: black;
     
    }
  }

.pyme{
    background-color: black;
    height: auto;
    width: 100%;
    padding: 1% 3%;
    display: inline-flex;
    box-sizing: border-box;
    @media (max-width: 767px) {
        width: 100%;
        display: inline-block;

    }
    
}
.parrafovideo{
    color: coral;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
    padding: 2%;
    font-size: medium;
    /*flex: 66%;*/
    
}
.video{
    padding: 2%;
    flex: 34%;
    display: flex;
    column-count: 2;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100;
    border: none;
    @media (max-width: 757px){
        justify-content:center;
        position: center;
    }
}
li{
    padding: 0px 22.5px 5.625px;
}

.textoabout{
    text-align: center;
    position: relative;
    top: 50%;
    left: 20%;
    color: #7286D3;

}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
footer{
    color: black;
}
.imagenabout2{
    background-image: url("./img/about1.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: relative;
    height: 700px;
    display: flex;
    width: 100%;
    text-align: center;
    flex-flow: row wrap;
    @media (max-width: 1035px) {
        width: 100%;
        display:inline-block;
        justify-content: center;
    }

}
.textoabout2{
    position: relative; 
    top: 80px;
    left: 300px;
    color: white;

}
.parrafoencima{
    position: relative; /*iba absolute*/
    /*top: 210px;
    left: 100px;*/
    color: white;
    font-size: 28px;
    word-wrap: break-word;
    
}
.boxtextoabout{
    /*background-color: blue;*/
    background: rgba(255, 231, 204, 0.3); 
    display: block;
    justify-content: center;
    position: relative;
    top: -2%;
    left: -2%;
    margin: 5%;
    padding: 2%;
    width: 20%;
    /*flex-flow: row wrap;*/
    height: 55%;
    border-radius: 15px;
    word-wrap: break-word;
    @media (max-width: 1035px) {
        width: auto;
        height: auto;
        top: 20%;

        
    }
  
.textabout{
   /* color:#13005A;*/
   color:  #f8c303;
    text-align: center;
}
/* seccion 2 about us */
.creadores{
    background-color: blue;
    border-radius: 50%;
    color: coral;
    display: flex;
    align-items: center;

    
}
.seccioncreadores{
    box-sizing: border-box;
    height: auto;
    width: auto;
    background-color: black;
    display: flex;
    align-items: center;

}

/* seccion 2 about us */

  ul {
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  
  input {
    display: none;
  }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: black;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: black; 
  }
  
  ul{
    margin-top:0;
    padding: 0;
    width: 200px;
  
  }
  
  
  li {
    display: block;
    background: black;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid black;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }


/*<-----------CSS para Alquila.html---------->*/ 


.recorridos {
    
    background-color: black;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

/*  what problem your offering solves  | Cite examples of whom you’ve served |
Explain what you’re offering them |Establish a mission statement resolver problema de movilidad
width560 y height 315 | una animacion de un mono o bici que arrastre a las fotos de nosotros 
y que despliegue un breve resumen | Estimulamos la movilidad sustentable en la ciudad desde 1996, brindando soluciones ecologicas
                        para los turistas, y recidentes de Buenos Aires*/ 
