/*<---Inicio CSS para sucursales--->*/
.sucursales {
    background-color: black;
    padding: 0%;
    color: white;
}

.titulo-sucursales {
    background-color: #f8c303;
    text-align: center;
    color: black;
}

#titulo-sucursales {
    background-color: #F8C303;
    text-align: center;
    margin-left: 1px !important;
    margin-right: 1px !important;
    color: black;
}

.sucursales p {
    background-color: #F8C303;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.map-container {
    flex: auto;
    background: #F8C303;
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    margin: 1px;
}

.ubicacion {

    justify-content: center;
    width: 100%;
    font-size: 50%;
    font-weight: bold;
}

.map iframe {
    bottom: 0;
    height: 95%;
    width: 100%;
    position: relative;
    border-radius: 5%;
}

/*<---Fin CSS para sucursales--->*/

/*<---Inicio CSS para el Footer--->*/
.whats-app {
    text-align: right;
}

.footer-container {
    font-weight: bold;
}

.footer-container a {
    padding-left: 1%;
}

.footer-container p {
    display: block;
    color: #F8C303;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

p {
    color: black;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 35px;

}

#inicio {
    /*aca va el color del div dentro del header*/
    padding: left 100px;
    display: flex;
    justify-content: center;

}

#footer {
    /*aca va el color del div dentro del header*/
    padding: left 100px;
    display: flex;

    background-color:blue;
}

#redes {
    display: inline;

}

.redes p {
    color: #F8C303;
}

.whats-app {
    display: inline;
}

/*<---Fin CSS para el Footer--->*/

.local p {
    color: #F8C303;
    font-size: 80%;
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    text-underline-position: under;

}

.local a:visited {
    color: white;
}

.local a {
    color: black;
    font-size: 80%;
    padding: 0%;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-size: 35px;
}

#inicio {
    padding: left 100px;
    display: flex;
    justify-content: center;
    background-color: #F8C303;
}

#inicio h1 {
    color: black;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pruebanav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    list-style: none
}

@media screen and (max-width: 800px) {
    #pruebanav {
        width: 100%;
        display: inline-block;
        background-color: black;
    }

    .sandwich {
        display: none;
    }

    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ubicacion {
        font-size: 60%;
    }

    .redes p {
        font-size: 60%;
    }

    .desarrollo p {
        font-size: 60%;
    }

    .creacion p {
        font-size: 40%;
    }

    .container-inception {
        display: none;
    }

    .inception-recorridos {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    #pruebanav {

        width: 100%;
        display: inline-flex;
        background-color: black;
    }

    .sandwich {
        display: none;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ubicacion {
        font-size: 75%;
    }

    .redes p {
        font-size: 70%;
    }

    .desarrollo p {
        font-size: 70%;
    }

    .creacion p {
        font-size: 50%;
    }

    .container-inception {
        display: none;
    }

    .inception-recorridos {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {

    #pruebanav {
        width: 100%;
        display: inline-flex;
        background-color: black;
        justify-content: space-evenly;
        align-items: center;
    }

    .sandwich {
        display: contents;
        text-align: left;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ubicacion {
        font-size: 100%;
    }

    .redes p {
        font-size: 80%;
    }

    .desarrollo p {
        font-size: 80%;
    }

    .creacion p {
        font-size: 60%;
    }

    .container-inception {
        display: block;
    }
}

.pyme {
    background-color: black;
    height: auto;
    width: 100%;
    padding: 1% 3%;
    display: inline-flex;
    box-sizing: border-box;

    @media (max-width: 767px) {
        width: 100%;
        display: inline-block;
    }
}

.parrafovideo {
    color: coral;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
    padding: 0%;
    font-size: medium;
    /*flex: 66%;*/
}

.video {
    padding: 2%;
    flex: 34%;
    display: flex;
    column-count: 2;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100;
    border: none;

    @media (max-width: 757px) {
        justify-content: center;
        position: center;
    }
}

li {
    padding: 0px 22.5px 5.625px;
}

.textoabout {
    text-align: center;
    position: relative;
    top: 50%;
    left: 20%;
    color: #7286D3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

footer {
    color: black;
}

.imagenabout2 {
    background-image: url("./img/about1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
    display: flex;
    width: 100%;
    text-align: center;
    flex-flow: row wrap;

    @media (max-width: 1035px) {
        width: 100%;
        display: inline-block;
        justify-content: center;
    }
}

.textoabout2 {
    position: relative;
    top: 80px;
    left: 300px;
    color: white;
}

.parrafoencima {
    position: relative;
    /*top: 210px;
    left: 100px;*/
    color: white;
    font-size: 28px;
    word-wrap: break-word;
}

.boxtextoabout {
    /*background-color: blue;*/
    background: rgba(255, 231, 204, 0.5);
    display: block;
    justify-content: center;
    position: relative;
    top: -2%;
    left: -2%;
    margin: 5%;
    padding: 2%;
    width: 28%;
    /*flex-flow: row wrap;*/
    height: 50%;
    border-radius: 15px;
    word-wrap: break-word;

    @media (max-width: 1035px) {
        width: auto;
        height: auto;
        top: 20%;
    }
}

.textabout {
    /* color:#13005A;*/
    color: #f8c303;
    text-align: center;
}

.textabout p {
    /* color:#13005A;*/
    color: black;
    text-align: center;
    font-weight: bold;
}

/* seccion 2 (creadores) about us inicio */
.creadores {
    border-radius: 50%;
    color: coral;
    justify-content: space-between;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    padding: 2%;
}

.fotoscreadores {
    width: 100px;
    height: 100px;
}

.seccioncreadores {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    @media screen and (max-width: 767px) {

        width: 100%;
        display: inline-block;
        background-color: black;
    }
}

.h2creadores {
    color: #f8c303;
    margin: auto;
}

/* seccion 2 (creadores) about us fin */

.sandwich ul {
    display: none;
}

.sandwich input:checked~ul {
    display: block;
}

.sandwich input {
    display: none;
}

.sandwich label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    user-select: none;
    margin-top: 1px;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
.sandwich label:hover {
    background: black;
}

/* Estilo del boton cuando el menú está expandido*/
.sandwich input:checked~label {
    background: black;
}

ul {
    margin-top: 0;
    padding: 0;
    width: 200px;
}

li {
    display: block;
    background: black;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid black;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
    filter: brightness(110%);
}

/*<-----------Inicio de CSS para Alquila.html---------->*/

.alquila {
    padding: 0%;
    background-color: black;
}

.alquila th {
    font-size: medium;
    background-color: #F8C303;
    font-weight: bold;
    text-align: center;
    box-sizing: content-box;
    padding: 1px;
    height: auto;
    width: auto;
    max-width: 50%;
}

.alquila td {
    font-size: medium;
    background-color: white;
    font-weight: bold;
    text-align: center;
    box-sizing: content-box;
    padding: 1px;
    height: auto;
    width: auto;
    max-width: 50%;
}

.alquila h4 {
    color: white;
    font-weight: bold;
    box-sizing: content-box;
    text-align: center;
}

.alquila td img {
    transition: transform .5s;
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
}

.alquila img:hover {
    transform: scale(2.7);
}

#tabla-dolar th {
    max-width: 100%;
    white-space: nowrap;
}

#tabla-dolar td {
    max-width: 100%;
    white-space: nowrap;
}

#precioDia {
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
}

.button2 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #F8C303;
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;

}

.button2::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: auto;
    /*50px */
    height: 61px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F8C303;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.button2:hover::before {
    scale: 1;
}

.button2:hover {
    color: #212121;
    scale: 1;
    /*1.1 */
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button2:active {
    scale: 1;
}


/*<-----------Inicio carrousel---------->*/
.container-inception {
    background-color: #F8C303;
    width: 98%;
    height: 620px;
    padding: 1%;
    margin: 0 auto;
}
.titulo-carrusel p {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
    margin: 1%;
}

.carrusel-container {
    background-color: white;
    width: 55%;
    height: 520px;
    padding: 1%;
    margin: 0 auto;
    border-radius: 10%;
}

.texto-carrusel {
    background-color: white;
    height: 35px;
    width: 90%;
    margin: auto;
    border-radius: 5%;
    margin-top: 5px;
}

.texto-carrusel p {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size:x-large;
}

.boton-carrusel a {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.imagen-carrusel {
    display: inline-block;
    margin: 10px;
}

.carrusel {
    width: 200px;
    height: 200px;
}

@keyframes display{
    0% {
        transform: translateX(120px);
        opacity: 0.1
    }

    10% {
        transform: translateX(60px);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 0;
    }

    30% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(-100px);
        opacity: 0;
        visibility: hidden;
    }
}
.carrusel-container a{
    margin-bottom: 50px;
}

.imagen-carrusel {
    height: 350px;
    border-radius: 10%;
    border-color: black;
    border-width: 10px;
}

.carrusel {
    position: relative;
    width: 300px;
    height: 450px;
    margin-top: 1%
}

.carrusel>img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 21s infinite;
}

.carrusel>p {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    width: auto;
    opacity: 1;
    animation: display 21s infinite;
    display: inline;
    font-weight: bold;
    font-size: x-large;
}

img:nth-child(3) {
    animation-delay: 3s;
}

p:nth-child(4) {
    animation-delay: 3s;
}

img:nth-child(5) {
    animation-delay: 6s;
}

p:nth-child(6) {
    animation-delay: 6s;
}

img:nth-child(7) {
    animation-delay: 9s;
}

p:nth-child(8) {
    animation-delay: 9s;
}

img:nth-child(9) {
    animation-delay: 12s;
}

p:nth-child(10) {
    animation-delay: 12s;
}

img:nth-child(11) {
    animation-delay: 15s;
}

p:nth-child(12) {
    animation-delay: 15s;
}

img:nth-child(13) {
    animation-delay: 18s;
}

p:nth-child(14) {
    animation-delay: 18s;
}

img:nth-child(15) {
    animation-delay: 21s;
}

p:nth-child(16) {
    animation-delay: 21s;
}

/*<-----------Fin carrousel---------->*/

/*<-----------Fin de CSS para Alquila.html---------->*/

/*<-----------Inicio boton alquila---------->*/
.boton-alquila {
    width: 150px;
    background-image: linear-gradient(115deg, grey, #fad648, #ffff00, #ffff55, white);
    text-align: center;
    margin: auto;
    margin-top: 5%;
    position: relative;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    overflow: hidden;
}

.boton-alquila:hover {
    -webkit-animation: play 1.6s ease-in infinite;
    animation: play 1.6s ease-in infinite;
}

.boton-alquila span {
    padding: 14px 0;
    ;
    font-size: 22px;
    display: block;
    margin: 3px;
    background: #000;
    border-radius: 3px;
}

@keyframes play {
    0% {
        background-position: 0px;
    }

    20% {
        background-position: -110px;
    }

    35% {
        background-position: -180px;
    }

    50% {
        background-position: -210px;
    }

    80% {
        background-position: -350px;
    }

    100% {
        background-position: -390px;
    }
}

/*<-----------Fin boton alquila---------->*/
/*<-----------Inicio de CSS para formulario.html---------->*/

.formulario {
    background-color: #f8c303;
    padding: 1%;
    border: black;
    border-width: 4px;
    border-style: double;
    font-size: 75%;
    font-weight: bold;
    color: black !important;
    width: 50%;
    margin: auto;
    height: auto;
}

.formulario p {
    font-size: 110%;
    font-weight: bold;
    color: black !important;
    padding: 0%;
    margin: 0.5%;
    text-align: center;
}

.container-formulario {
    background-color: black;
    height: auto;
}

.botones-form {
    height: auto;
    margin-left: auto;
}

.form {
    height: auto;
    margin-left: 28%;
}

/* seccion about us en la home (inicio) */

.abouthome {
    /*la clase padre de la seccion*/
    background-color: black;
    position: relative;
    display: flex;
    height: 350px;
    width: 100%;
    overflow: hidden;


    @media (max-width: 1035px) {
        width: 100%;
        display: inline-block;
        justify-content: center;
    }
}

.contenedorabout {
    width: 50%;
    background-image: url("./img/velodromo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    border-radius: 0% 70% 70% 0%;

    @media (max-width: 1035px) {
        width: 100%;
        display: inline-block;
        justify-content: center;
        border-radius: 0%;
    }
}

.contenedorbotonabout {
    width: 50%;
    position: relative;
    left: -10%;
    color: #F8C303;
    text-align: center;
    word-wrap: break-word;
    padding: 5%;
    margin-left: 80px;

    @media (max-width: 1035px) {
        width: 100%;
        position: absolute;
        top: 50px;
        left: 5px;
        justify-content: center;
    }

}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #F8C303;
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;

}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: auto;
    /*50px */
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F8C303;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.3;
    /*1.1 */
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}

/* seccion about us en la home (fin) */

/* seccion rentnow en la home (inicio) */

.fondorent {
    /*clase padre rentnow*/
    background-image: url("./img/rentnow1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.textorent {
    width: 100%;
    color: #F8C303;
    font-size: 70px;
    position: absolute;
    text-align: center;

}

.botonrentnow {
    position: relative;
    text-align: center;
    top: 60%
}

.boxrent {
    background: rgba(255, 231, 204, 0.5);
    position: relative;
    justify-content: center;
    margin: 2%;
    left: 28%;
    width: 39%;
    flex-flow: row wrap;
    height: 5%;
    border-radius: 15px;
    word-wrap: break-word;
}

/*<-----------Fin de CSS para formulario.html---------->*/
/*<-----------inicio de CSS para recorridos.html---------->*/


.recorridos p {
    font-weight: bold;
    margin: 15px;
}

.box-video-recorridos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F8C303;
    padding: 2%;
}

.box-texto-recorridos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;

}

.titulo-recorridos {
    text-align: center;
}


.card {
    border-radius: 5px;
    width: 360px;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    height: 500px;
    display: inline-block;

}

.contenedor-en-card {
    width: 100%;

}



.parallax-madero {
    /* The image used */
    background-image: url("img/Puerto_Madero.jpg");

    /* Full height */
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 1280px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 1800px;
        justify-content: space-evenly;

    }
}

.parallax-palermo {
    /* The image used */
    background-image: url("img/palermo.jpg");

    /* Full height */
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 1280px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 1800px;
        justify-content: space-evenly;

    }


}

.parallax-bajo {
    /* The image used */
    background-image: url("img/bajo.jpg");

    /* Full height */
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 1280px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 1800px;
        justify-content: space-evenly;

    }
}

.parallax-ba {
    /* The image used */
    background-image: url("img/recorre-ba.jpg");

    /* Full height */
    height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1173px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        justify-content: baseline;

    }

}

.textorecorridos {
    width: 100%;
    color: #F8C303;
    font-size: 70px;
    position: absolute;
    text-align: center;
    top: 40%;
}

.textorecorridos1 {
    width: 100%;
    color: #F8C303;
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: 70%;
    word-wrap: break-word;
}

.separadores {
    text-align: center;
    height: 100px;
    background-color: #f8c303
}

h5 {
    color: #000;
}

.ttseparadores {
    font-family: 'Lobster', cursive;
    color: #000;
    font-size: 40px;
    overflow: hidden;
    top: 10px;



}

.banner-rent {
    width: 100%;
    background-image: url("./img/recorridos-index.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-rent-tt {
    position: absolute;
    left: 70px;
    margin-top: 60px;
    color: #F8C303;
    font-size: 50px;
    word-wrap: break-word;
}

/*<-----------Fin de CSS para recorridos.html---------->*/

/*<-----------inicio de CSS para crud.html---------->*/

.crud-fondo {
    background-image: url("./img/pattern_prod.jpg");
    background-repeat: repeat;
    background-size: ;
    height: 800px;
    
    
}

.tabla-crud {
    height: 800px;
    width: auto;

}

#crud {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #F8C303;
    color: white;
    width: 350px;

}

#continer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #continer td, #continer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #continer tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #continer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #212121;
    color: white;
  }

  














/*<-----------Fin de CSS para crud.html---------->*/

/*  what problem your offering solves  | Cite examples of whom you’ve served |
Explain what you’re offering them |Establish a mission statement resolver problema de movilidad
width560 y height 315 | una animacion de un mono o bici que arrastre a las fotos de nosotros 
y que despliegue un breve resumen | Estimulamos la movilidad sustentable en la ciudad desde 1996, brindando soluciones ecologicas
                        para los turistas, y recidentes de Buenos Aires*/