/*<---Inicio CSS para sucursales--->*/
.sucursales {
    background-color: black;
    padding: 0.5%;
    color: white;
}

.titulo-sucursales {
    background-color: #f8c303;
    text-align: center;
    color: black;
}

#titulo-sucursales {
    background-color: #F8C303;
    text-align: center;
    margin-left: 1px !important;
    margin-right: 1px !important;
    color: black;
}

.sucursales p {
    background-color: #F8C303;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.map-container {
    flex: auto;
    background: #F8C303;
    /*opacity: 0.3;*/
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    margin: 1px;
}

.ubicacion {

    justify-content: center;
    width: 100%;
    font-size: 50%;
    font-weight: bold;
}

.map iframe {
    bottom: 0;
    height: 95%;
    width: 100%;
    position: relative;
    border-radius: 5%;
}

/*<---Fin CSS para sucursales--->*/

/*<---Inicio CSS para el Footer--->*/
.whats-app {
    text-align: right;
}

.footer-container {
    font-weight: bold;
}

.footer-container a {
    padding-left: 1%;
}

.footer-container p {
    display: block;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

/*<---Fin CSS para el Footer--->*/

p {
    color: white;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 35px;

}

#inicio {

    padding: left 100px;
    display: flex;
    justify-content: center;
    background-color: #F8C303;
}
#inicio h1{
    
    color: black;
}

#footer {
    padding: left 100px;
    display: flex;
    justify-content: center;
    background-color: #F8C303;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pruebanav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    list-style: none
}

@media screen and (max-width: 800px) {
    #pruebanav {

        width: 100%;
        display: inline-block;
        background-color: black;

    }

    .sandwich {
        display: none;
    }

    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ubicacion {
        font-size: 60%;
    }

    .redes p {
        font-size: 60%;
    }

    .desarrollo p {
        font-size: 60%;
    }

    .creacion p {
        font-size: 40%;
    }
    .container-inception{
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #pruebanav {

        width: 100%;
        display: inline-flex;
        background-color: black;
    }

    .sandwich {
        display: none;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ubicacion {
        font-size: 75%;
    }

    .redes p {
        font-size: 70%;
    }

    .desarrollo p {
        font-size: 70%;
    }

    .creacion p {
        font-size: 50%;
    }
    .container-inception{
        display: none;
    }


}

@media screen and (min-width: 1200px) {

    #pruebanav {

        width: 100%;
        display: inline-flex;
        background-color: black;
    }

    .sandwich {
        display: contents;
        text-align: left;

    }

    .flex-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .ubicacion {
        font-size: 100%;
    }

    .redes p {
        font-size: 80%;
    }

    .desarrollo p {
        font-size: 80%;
    }

    .creacion p {
        font-size: 60%;
    }
    .container-inception{
        display:block;
    }
}

.pyme {
    background-color: black;
    height: auto;
    width: 100%;
    padding: 1% 3%;
    display: inline-flex;
    box-sizing: border-box;

    @media (max-width: 767px) {
        width: 100%;
        display: inline-block;

    }

}

.parrafovideo {
    color: coral;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
    padding: 2%;
    font-size: medium;
    /*flex: 66%;*/

}

.video {
    padding: 2%;
    flex: 34%;
    display: flex;
    column-count: 2;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100;
    border: none;

    @media (max-width: 757px) {
        justify-content: center;
        position: center;
    }
}

li {
    padding: 0px 22.5px 5.625px;
}

.textoabout {
    text-align: center;
    position: relative;
    top: 50%;
    left: 20%;
    color: #7286D3;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

footer {
    color: black;
}

.imagenabout2 {
    background-image: url("./img/about1.jpg");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    position: relative;
    height: 700px;
    display: flex;
    width: 100%;
    text-align: center;
    flex-flow: row wrap;

    @media (max-width: 1035px) {
        width: 100%;
        display: inline-block;
        justify-content: center;
    }

}

.textoabout2 {
    position: relative;
    top: 80px;
    left: 300px;
    color: white;

}

.parrafoencima {
    position: relative;
    /*iba absolute*/
    /*top: 210px;
    left: 100px;*/
    color: white;
    font-size: 28px;
    word-wrap: break-word;

}

.boxtextoabout {
    /*background-color: blue;*/
    background: rgba(255, 231, 204, 0.3);
    display: block;
    justify-content: center;
    position: relative;
    top: -2%;
    left: -2%;
    margin: 5%;
    padding: 2%;
    width: 20%;
    /*flex-flow: row wrap;*/
    height: 55%;
    border-radius: 15px;
    word-wrap: break-word;

    @media (max-width: 1035px) {
        width: auto;
        height: auto;
        top: 20%;
    }
}

.textabout {
    /* color:#13005A;*/
    color: #f8c303;
    text-align: center;
}

/* seccion 2 about us */
.creadores {
    border-radius: 50%;
    color: coral;
    justify-content: space-between;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;


}

.fotoscreadores {
    width: 100px;
    height: 100px;
}

.seccioncreadores {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 767px) {

        width: 100%;
        display: inline-block;
        background-color: black;
        align-items: center;
    }
}

    /* seccion 2 about us */

    .sandwich ul {
        display: none;
    }

    .sandwich input:checked~ul {
        display: block;
    }

    .sandwich input {
        display: none;
    }

    .sandwich label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: left;
        user-select: none;

    }

    /* Estilo del boton cuando se pasa el mouse por encima*/
    .sandwich label:hover {
        background: black;
    }

    /* Estilo del boton cuando el menú está expandido*/
    .sandwich input:checked~label {
        background: black;
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;
    }


    li {
        display: block;
        background: black;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid black;
    }

    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    li:hover {
        filter: brightness(110%);
    }


    /*<-----------Inicio de CSS para Alquila.html---------->*/

    .alquila {

        padding: 1%;
        background-color: black;


    }

    .alquila th {

        font-size: medium;
        background-color: #F8C303;
        font-weight: bold;
        text-align: center;
        box-sizing: content-box;
        padding: 1px;
        height: auto;
        width: auto;
        max-width: 50%;
    }

    .alquila td {

        font-size: medium;
        background-color: white;
        font-weight: bold;
        text-align: center;
        box-sizing: content-box;
        padding: 1px;
        height: auto;
        width: auto;
        max-width: 50%;
    }

    .alquila h4 {

        color: white;
        font-weight: bold;
        box-sizing: content-box;
        text-align: center ;
    }
    .alquila td img {
        transition: transform .5s;
        width: 150px;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid black;
    }

    .alquila td img:hover {
        transform: scale(2.5);
    }


    #tabla-dolar th {

        max-width: 100%;
        white-space: nowrap;

    }

    #tabla-dolar td {

        max-width: 100%;
        white-space: nowrap;

    }
    /*<-----------Inicio carrousel---------->*/
    .container-inception {
        background-color:#F8C303;
        width: 98%;
        height: 580px;
        padding: 1%;
        margin: 0 auto;
    }
    .container-inception p{
        color: black;
        text-align: center;
        font-weight: bolder;
        font-size: xx-large;
        height: 50px;
        margin: 10px;
    }

    .carrusel-container
    {
        background-color: white;
        width: 65%;
        height: 470px;
        padding: 1%;
        margin: 0 auto;
        border-radius: 10%;
    }
    .texto-carrusel {
        background-color: white;
        height: 70px;
        width: 100%;
    }
    .texto-carrusel p{
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }
    .texto-carrusel a{
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }
    
    .imagen-carrusel {
        display: inline-block;
        margin: 10px;
    }
    .carrusel {
        width: 200px;
        height: 200px;
      }
      
      @keyframes display {
        0% {
          transform: translateX(150px);
          opacity: 0;
        }
        10% {
          transform: translateX(100px);
          opacity: 1;
        }
        20% {
          transform: translateX(0);
          opacity: 0.01;
        }
        30% {
          transform: translateX(-100px);
          opacity: 0;
        }
        100% {
          transform: translateX(-100px);
          opacity: 0;
        }
      }
      .imagen-carrusel {
        height: 350px;
        border-radius: 10%;
        border-color: black;
        border-width: 10px;
      }
      .carrusel {
        position: relative;
        width: 350px;
        height: 350px;
        margin-top: 1%
      
      }
      
      .carrusel > img {
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        opacity: 0;
        animation: display 32s infinite;
      }
      
      img:nth-child(2) {
        animation-delay: 4s;
      }
      img:nth-child(3) {
        animation-delay: 8s;
      }
      img:nth-child(4) {
        animation-delay: 12s;
      }
      img:nth-child(5) {
        animation-delay: 16s;
      }
      img:nth-child(6) {
        animation-delay: 20s;
      }
      img:nth-child(7) {
        animation-delay: 24s;
      }
      img:nth-child(8) {
        animation-delay: 28s;
      }
    /*<-----------Fin carrousel---------->*/

    /*<-----------Fin de CSS para Alquila.html---------->*/

    /*<-----------Inicio boton alquila---------->*/
    .boton-alquila {
        width: 200px;
        background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
        text-align: center;
        margin: 0 auto;
        margin-top: 25px;
        position: relative;
        color: #fff;
        text-decoration: none;
        display: block;
        font-weight: normal;
        border-radius: 6px;
        overflow: hidden;
    }
    
    .boton-alquila:hover {
        -webkit-animation: play 1.6s ease-in infinite;
        animation: play 1.6s ease-in infinite;
    }
    
    .boton-alquila span {
        padding: 14px 0; ;
        font-size: 22px;
        display: block;
        margin: 3px;
        background: #000;
        border-radius: 3px;
    }
    
    @keyframes play {
        0% {
            background-position: 0px;
        }
        20% {
            background-position: -110px;
        }
        35% {
            background-position: -180px;
        }
        50% {
            background-position: -210px;
        }
        80% {
            background-position: -350px;
        }
        100% {
            background-position: -390px;
        }
    }
    /*<-----------Fin boton alquila---------->*/
    /*<-----------Inicio de CSS para recorridos.html---------->*/
    .recorridos {

        background-color: black;
        padding: 0%;
        margin: 0%;
        text-align: center;
    }

    /*<-----------Fin de CSS para recorridos.html---------->*/

    /*  what problem your offering solves  | Cite examples of whom you’ve served |
Explain what you’re offering them |Establish a mission statement resolver problema de movilidad
width560 y height 315 | una animacion de un mono o bici que arrastre a las fotos de nosotros 
y que despliegue un breve resumen | Estimulamos la movilidad sustentable en la ciudad desde 1996, brindando soluciones ecologicas
                        para los turistas, y recidentes de Buenos Aires*/