<!doctype html>
<html lang="en">

<head>
    <title>Productos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./codoacodobikes.css">
</head>

<body>
    <header id="">
        <script src="./JavaScript/header.js"></script>
    </header>
    <main>
        <section class="crud-fondo">
            <div id="app" class="container">
                <h1>Productos</h1>
                <br>
                <div class="botonrentnow"><button class="button"><a href="./producto_nuevo.html"></a>Nuevo</button></div>
                <!--<a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>-->
                <br><br>
                <div v-if="error">
                    <p>Lo sentimos , ........</p>
                </div>
                <div v-else>
                    <section v-if="cargando">
                        <div class="spinner-border"></div>
                        <p>Cargando .....</p>
                    </section>
                    <section v-else>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">type</th>
                                        <th scope="col">total_length_cm</th>
                                        <th scope="col">wheel_size_inches</th>
                                        <th scope="col">comment</th>
                                        <th scope="col">image</th>
                                        <th scope="col">precio</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="" v-for="producto in productos">
                                        <td scope="row">{{producto.id}}</td>
                                        <td>{{producto.type}}</td>
                                        <td>{{producto.total_length_cm}}</td>
                                        <td>{{producto.wheel_size_inches}}</td>
                                        <td>{{producto.comment}}</td>
                                        <td>
                                            <img width="60" :src="producto.image" :alt="producto.type">
                                        </td>
                                        <td>{{producto.precio}}</td>
                                        <td>
                                            <a class="btn btn-primary"
                                                :href="'producto_update.html?id='+ producto.id">Editar</a>
                                            <button type="button" class="btn btn-danger"
                                                v-on:click="eliminar(producto.id)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>    
    </main>
    <footer>
        <script src="./JavaScript/footer.js"></script>
    </footer>
    <script <!--Link de Bootstrap-->
        src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin = "anonymous" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="./JavaScript/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./JavaScript/productos.js"></script>
</body>

</html>