.sucursales {
    background-color: black;
    padding: 1%;
    color: white;
}

.titulo-sucursales {
    background-color: #f8c303;
    text-align: center;
    color: black;
}
#titulo-sucursales {
    background-color: #F8C303;
    text-align: center;
    margin-left: 2px !important;
    margin-right: 2px !important;
    color: black;
}
.sucursales p {
    background-color: #F8C303 ;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    width: 100%;
}

.map-container {
    flex: auto;
    background: #F8C303; /*opacity: 0.3;*/
    position: relative;
    padding-bottom: 27%;
    border-color: black;
    border-width: 1px;
    height: 0;
    overflow:hidden;
}

.ubicacion {
    
    justify-content: center;
    width: 100%;
    font-size: 50%;
}

.map iframe {
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    height: 80%;
    width: 100%;
    position: absolute;
    border-radius: 10%;
}
/*<---Fin CSS para sucursales--->*/

/*<---Inicio CSS para el Footer--->*/
.whats-app { text-align: right;
}
.footer-container {
    font-weight: bold;
}
.footer-container a{
    padding-left: 1% ;
}
.footer-container p {
    display:block ;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
.redes p{
    font-size: 60%;
}
.desarrollo p{
    font-size: 60%;
}
.creacion p{    
    font-size: 40%;
}
